@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.cdk-overlay-container {
  z-index: 9999 !important;
}

.cdk-overlay-backdrop {
  background-color: rgba(0, 0, 0, 0.5) !important;
}